NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=jwt_authentication_secret_here_must_be_more_than_32

PAYMENT_WEBHOOK_TIMEOUT_MS=30000